div(class="row")
    each blog in blogs
        div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
                img(src="" alt="")
                div(class="caption")
                    h3=blog.name
                    p=blog.text
                    p
                        a(href="/blog/" + blog.id class="btn btn-primary" role="button")="Button"